html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
/*  background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    text-decoration: underline;
    top: -40px;
    left: 0;
    background: orange;
    color: navy;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

main {
    height: auto;
    min-height: 100%;
}

.MuiIcon-colorPrimary {
    color: darkgreen;
}

.w3-container {
    margin: 0;
}

.search-toDos {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2rem;
  font-weight: bolder;
/*  border: 2px #022 solid;*/
  outline: none; 
}

#map {
    width: 100%;
    height: 100vh;
      }

.logo-foot {
    float: left;
    padding: 20px;
    width:300px;
}

.footer {
   position: absolute;
   clear: both;
   width: 100%;
   height: auto;   
}
