html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-size: 1.125rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

*:focus {
    outline-color: #191970; /* midnightblue */
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.skip-link {
    position: absolute;
    top: auto;
    left: -10000px;
    background: #BF1722;
    width:1px; 
    height:1px; 
    overflow:hidden;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    position:static; 
    width:auto; 
    height:auto; 
    top: 0;
}

.logo {
    padding: 20px;
    width:400px;
}

main {
    height: auto;
    min-height: 100%;
}

.w3-container {
    margin: 0;
}

@keyframes animatezoom {
    from {
        transform:scale(0)
    }

    to {
        transform: scale(1)
    }
}

.open-search {
  position: fixed;
  z-index: 1;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8bc34a;
  background-image: url('./icons/search-solid.svg');
    outline: 6px #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.search-toDos {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  display: block;
  border-bottom: 2px solid #ccc;
}

.search-places {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search-location-solid.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  display: block;
  border-bottom: 2px solid #ccc;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

label {
    font-weight: bolder;
}

.modalInputs {  
   width: 50%;    
}

.btnBar {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btnSubmit {
  width: 33%;
  font-weight: bolder;
}

#map {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
}

.webmap {
    width: 100%;
    height: 100vh;
    border: 1px solid #000;
}

.code {
    font-size: 1.2rem;
    color: #e83e8c;
    word-break: break-word;

}

.internalServer {
  font-weight: bolder;
  font-size: 3.13rem;
  text-align: center;
  color: #c72d2d;
}

table {
    /* w3-table-all w3-card-4 w3-hoverable w3-centered */
    
   border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border:1px solid #ccc
}

table tbody tr:hover {
    background-color:#ccc;
}

table tr th, table tr td { 
  text-align:center;
}

table, table:hover { 
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

table tr {
  border-bottom:1px solid #ddd;
}

table tr:nth-child(odd) { 
  background-color:#fff;
}

table tr:nth-child(even) {
  background-color:#f1f1f1;
}

table td, table th {
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top;
}

table th:first-child, table td:first-child{
    padding-left:16px;
}

tr th {
    background: #ddffdd;
    color: #3f51b5;
}
/* Idea for Task completion!!! */
table tr .checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

table tr .checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.id-link:hover {
    background-color: #fff;
    outline: 2px violet solid;
    font-weight: bolder;
}

.logo-foot {
    float: left;
    padding: 20px;
    width:300px;
}

.footer {
   position: absolute;
   clear: both;
   width: 100%;
   height: auto;
}
