.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

.skip-link {
    position: absolute;
    text-decoration: underline;
    top: -40px;
    left: 0;
    background: orange;
    color: navy;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}
